---
import Gmail from "./Icons/Gmail.astro";
import ArrowUp from "./Icons/ArrowUp.astro";
---

<footer
  class="py-8 px-4 flex mx-auto max-w-5xl items-center justify-around gap-5 lg:py-14 lg:px-4 flex-col md:flex-row"
>
  <p>&copy; CodeMultiAll | Todos los derechos reservados</p>
  <div class="flex flex-row items-center justify-center gap-5">
    <a href="mailto:codemultiall@gmail.com"
     class="flex flex-row hover:scale-125 duration-300 ease-in-out"
     ><Gmail /></a>
     <a href="#header"
      class="flex flex-row hover:scale-125 duration-300 ease-in-out"
     ><ArrowUp/></a>
  </div>
</footer>
