<header id="header"
  class="py-8 px-4 flex max-w-5xl items-center justify-between gap-5 lg:py-8 lg:px-4 sm:mx-auto animate-fade-in"
>
  <div class="flex justify-center md:justify-center items-center gap-4">
    <img
      class="rounded-full w-20 h-20"
      src="/logo.webp"
      alt="Por ahora no hay logo"
    />
    <h1 class="text-2xl font-semibold md:text-xl">CodeMultiAll</h1>
  </div>

  <nav class="hidden md:flex">
    <ul class="flex flex-row justify-center items-start gap-8">
      <li class="font-bold text-xl"><a href="#services">Servicios</a></li>
      <li class="font-bold text-xl"><a href="#contact">Contacto</a></li>
      <li class="font-bold text-xl"><a href="">Testimonios</a></li>
      <li class="font-bold text-xl"><a href="">Blog</li></a>
    </ul>
  </nav>
</header>
