<section
  class="flex flex-col text-wrap justify-center items-center flew-wrap gap-30 w-full h-full md:flex-row "
>
  <div class="w-3/5 flex flex-col justify-center items-center flex-wrap">
    <h1 class="text-6xl mb-8 leading-tight animate-slide-in-left">
      Obten una presencia Web <span class="text-green-400 font-semibold"
        >ahora mismo</span>
    </h1>
    <p class="text-pretty text-xl animate-slide-in-left">
      Somos una empresa especializada en software a medida, landing pages y
      consultoría. Realizamos nuestros servicios con calidad con los precios mas
      accesibles para ti.
    </p>
  </div>

  <div class="w-2/5">
    <img 
    class="animate-pulsing w-3/4 h-3/4 object-cover"
    src="/logo.webp" alt="Hero" />
  </div>
</section>
