---
import ServiceComponent from "./ServiceComponent.astro"
---

<section>
    <ServiceComponent></ServiceComponent>
    <ServiceComponent></ServiceComponent>
    <ServiceComponent></ServiceComponent>
</section>